<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itson.giftapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Giftapp"
        tools:targetApi="31">
        <activity
            android:name="com.itson.giftapp.view.CategoryActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.itson.giftapp.view.FriendsActivity"
            android:theme="@style/Theme.Giftapp" />

        <activity
            android:theme="@style/Theme.Giftapp.NoActionBar"
            android:name="com.itson.giftapp.view.ProductDetailsActivity"
            android:exported="true" />
        <!-- LoginActivity -->
        <activity
            android:name="com.itson.giftapp.view.LoginActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.itson.giftapp.view.ProfileActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.itson.giftapp.view.RegisterActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.Giftapp.NoActionBar"
            android:name="com.itson.giftapp.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
   <!-- android:theme="@style/Theme.Giftapp"-->
    <!--android:parentActivityName=".view.MainActivity"-->
